# sample configuration file for TCM Daemon
# 2016/05 OL

# TCP/IP address to be served
# specify 127.0.0.1 to restrict access to local
# clients only. Specifiy 0.0.0.0 for all world
# area wide connections (internet).

scheme-server-ip-address 0.0.0.0


# TCP/IP port to listen at

scheme-server-ip-port 37147
